<div class="contain">
    <div class="aboutusContent">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <br>
        <h3 class="aboutusContent__address">
            Our Location in Mansoura , 45 El-Gomhoria Street
        </h3>
        <h3 class="aboutusContent__workhours">
            Work Hours
        </h3>
        <p>
            Sunday --> Thursday 10am:10pm
        </p>
        <br>
        <h3 class="aboutusContent__shopowner">
            Shop Owners
        </h3>
        <p>Rahma Atef is the only owner to this Shop , Interested in flowers and it’s Origin also interested in Decoration . The aim for this Shop to make High Quality Flowers available in Low Prices .</p>
        <p>Lives in El_Daqahlia , Mansoura City .</p>
    </div>
</div>