<div class="content">
    <h1 class="galleryContent__title">
        Flowers Gallery
    </h1>
    <form [formGroup]="form" class="form">
        <input type="text" formControlName="name"  class="form-control galleryContent__search" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search with Name">
        <input type="number" min="1" formControlName="bloomPrice" class="form-control galleryContent__search" (input)="searchFlowerPrice()" placeholder="Search with Bloom Price">
    </form>
    <div class="galleryContent">
        <div class="galleryContent__product" *ngFor="let flower of flowers | filter:searchText">
            <h2 class="galleryContent__product--name">{{ flower.name }}</h2>
            <img class="galleryContent__product--image" [src]="flower.imagePath" [alt]="flower.name">
            <p class="galleryContent__product--date">{{ flower.arrivalDate }}</p>
            <h4 class="galleryContent__product--price"> Bloom Price : {{ flower.bloomPrice }}$</h4>
            <button class="btn btn-outline-secondary" id="modalInput" (click)="openModal(flowerModal,flower)" *ngIf="userIsAuthenticated">Buy</button>
        </div>
    </div>
</div>

<!-- Flower Modal -->


<ng-template #flowerModal let-modal class="modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Flowers Amount</h4>
    <button type="button" class="close" aria-label="Close" (click)="ModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form >
        <input type="number" min="1" #flowerAmount class="form-control galleryContent__search" placeholder="Flowers Amount">
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="ModalRef.hide()">Close</button>
    <button type="button" class="btn btn-outline-secondary" (click)="sendflower(flowerAmount)">Send</button>
  </div>
</ng-template>